.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* en vez de min-height */
  background: linear-gradient(135deg, #4f46e5, #000);
  color: white;
  padding: 20px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.subcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.subtitle {
  font-size: 1.2rem;
  margin-bottom: 30px;
  color: #e0e0e0;
}








.cargando {
  font-size: 1rem;
  color: #fbbf24;
}
