.dateFilters {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.buscarBtn {
  background-color: #4f46e5;
  color: white;
  border: none;
  padding: 6px 14px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.buscarBtn:hover {
  background-color: #3730a3;
}
